
<div class="welcome">

</div>

<div class="welcome_wrapper">
  <div class="du_logo", title="Welcome to DUreading!">
    <%= link_to image_tag("du_logo.png", :size => "400x400", :alt => "du_logo"), books_path %>
  </div>  

  <div class="log_in", title="Please log in">
    <% if current_user %>
      Hi, <%= current_user.name %>
    <%= link_to "登出", auth_signout_path, :class => "a", :method => :delete %>
    <% else %>
    <%= link_to "Facebook 登入", "/auth/facebook", :class => "a" %>
    <% end %>
  </div>

</div>


