.note.note_bg
  .note_container
    .row
      .col-md-12.edit-book-logo
        - if @book.logo.exists? 
          = link_to image_tag( @book.logo.url(:thumb) ), @book.logo.url
        - else
          = link_to image_tag( "missing.png" ), book_path(@book)
    .row
      = form_for @book, :url => book_path(@book), :html => { :multipart => true }, :method => "patch", :html => {:class => "form-horizontal center"} do |f|
        = render :partial => 'form', :locals => { :f => f }

/ = link_to 'Go Back', user_url(current_user)