<div class="note">
<div class="note_container">
<div class="book_logo">
<%= link_to image_tag( @book.logo.url(:thumb) ), @book.logo.url %>
</div>
<%= form_for @book, :url => book_path(@book), :html => { :multipart => true }, :method => "patch" do |f| %>    

	
    <%= render :partial => 'form', :locals => { :f => f } %>


<% end %>

</div>
<div class="go_back"><%= link_to 'Go Back', user_url(current_user) %></div>


</div>