/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.header{
  width:1280px;
  height:120px;
  /*background-color: #F00;*/
  // background-image: image-url("bg.jpg");
  // -webkit-filter: blur(2px);
  background-color: #e0d4be;
  overflow: hidden;
  // position: fixed;
  // color: #333;
}

.header_wrapper {
  /*display: inline;*/
  /*background-color: #333;*/
  width: 900px;
  height: 80px;
  top:20px;
  left:20px;
  position: absolute;
  // position: fixed;
  /*margin: 40px 40px;*/
  color: #FFF;
  /*float: left;*/

}
.du_login{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  float: left;
  // -webkit-transform:rotate(20deg);
}
.dureading{
  width: 250px;
  height: 60px;
  /*background-color: #F00;*/
  // text-align: center;
  line-height: 60px;
  float: left;
  position: relative;
  font-size: 40px;
  margin: 30px 10px 10px 10px;
  // color: #e0d4be;
  color: #242d3f;
  // font-family: "Comic Sans MS", cursive, sans-serif;
  font-family: fantasy;
  /*font-family: verdana,helvetica,arial,sans-serif;*/
  font-style: italic;
  font-weight: bold;
}

.side{
  width: 200px;
  min-height: 800px;
  background-color: #242d3f;
  float: left;

}
.fb{
  width: 180px;
  height: 100px;
  color: #000;
  float: right;
}
.all_books{
  width: 100px;
  height: 100px;
  color: #000;
  float: left;
  text-align: center;
}
.my_shelf{
  width: 100px;
  height: 100px;
  color: #000;
  float: left;
}

