.book_container {
  width: 100%;
  height: 800px;
  background-color: #e0d4be;
  float: left;
  background-image: image-url("bookshelf.jpg");
  background-size: 100% 800px;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
}

.book-box {
  height: 270px;
  text-align: center;
}

.book_wrapper {
  width:150px;
  height:200px;
  background-color: #202937;
  margin: 55px auto 10px auto;
  box-shadow: 0px -4px 20px 2px #000;
  border-radius: 5px;
  &:hover {
    -webkit-animation: aniName1 0.25s linear 1;
    margin: 45px auto 20px auto;
    box-shadow: 0px 10px 25px 3px #000;
  }
}

@-webkit-keyframes aniName1 {
0% { 
  margin: 55px auto 10px auto;
  box-shadow: 0px -4px 20px 2px #000;
  }

100% {
  margin: 45px auto 20px auto;
  box-shadow: 0px 10px 25px 3px #000;
  }
}

.note {
  width: 100%;
  min-height: 800px;
  background-color: #e0d4be;
  float: right;
  background-repeat: no-repeat;
}

.note_bg { 
  background-image: image-url("note_bg.png");
  background-size: 100% 800px;
}

.note_container {
  margin: 100px auto 50px auto;
  width: 500px; 
}
.book_logo {
  margin: 5px 25px 0 25px;
  padding-top: 10px;
  img {
    width: 100px;
    height: 100px;
  }
}

.book_title, .book_author {
  width: 120px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  color: #FFF;
  margin-left: 15px;
}

.book_owner {
  width: 120px;
  max-height: 40px;
  overflow: hidden;
  text-align: center;
  color: #FFF;
  margin: 0px auto;
  a {
    text-decoration: none;
    color: #FFF;
  }
  a:hover {
    text-decoration: none;
    color: #999;
  }

}

.option_icons {
  -webkit-filter:invert(1);
  img {
    margin: 0 5px;
  }
  img:hover {
    background-color: #aaa;
  }
}

.edit-book-logo {
  margin-bottom: 20px;
  text-align: center;
  img {
    margin: auto;
  }
}

.go_back {
  width: 100px;
  height:40px;
  background-color: #555;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  float:left;
}

.book-details {
  font-weight: bold;
}


