.container{
  width:1280px;
  height:800px;
  background-color: #e0d4be;
  float: left;
  background-image: image-url("bookshelf.jpg");
  background-size: 1280px 800px;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;

}

.book_wrapper{
  width:150px;
  height:200px;
  background-color: #202937;
  float: left;
  margin: 55px 30px 10px 30px;
  box-shadow: 0px -4px 20px 2px #000;
  background-size: 150px 207px;
  background-position: -5px -7px;
  border-radius: 5px;

}

.book_wrapper:hover{
  -webkit-animation: aniName1 0.25s linear 1;
  width:150px;
  height:200px;
  background-color: #202937;
  float: left;
  margin: 45px 30px 20px 30px;
  box-shadow: 0px 10px 25px 3px #000;
}

@-webkit-keyframes aniName1{
0%{ 
  width:150px;
  height:200px;
  background-color: #202937;
  float: left;
  margin: 55px 30px 10px 30px;
  box-shadow: 0px -4px 20px 2px #000;
  }

100%{
  width:150px;
  height:200px;
  background-color: #202937;
  float: left;
  margin: 45px 30px 20px 30px;
  box-shadow: 0px 10px 25px 3px #000;
  }
}

.note{
  width:1280px;
  height:800px;
  background-color: #e0d4be;
  float: right;
  overflow: auto;
  // overflow: scroll;
  background-repeat: no-repeat;
}

.note_bg{ 
  background-image: image-url("note_bg.png");
  background-size: 1280px 800px;
}

.note_container{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 500px; 
  min-height:600px;
}
.book_logo {
  margin: 5px 25px 0 25px;
}
.book_logo img{
  width: 100px;
  height: 100px;
}
.file_field{
  width: 500px;
  height:40px;
  line-height: 40px;
}

.label{
  width: 150px;
  height:40px;
  line-height: 40px;
  float: left;
}
.text_field{
  width: 350px;
  height:40px;
  line-height: 40px;
  float: left;
}
.text_area{
  width: 350px;
  height:210px;
  line-height: 40px;
  float: left;
}

.go_back{
  width: 100px;
  height:40px;
  background-color: #555;
  border-radius: 10px;
  line-height: 40px;
  text-align: center;
  float:left;
}
.submit_button{
  width: 100px;
  height:40px;
  line-height: 40px;
  float:left;
}

.text_field input{
  width: 350px;
  height: 30px;
  line-height: 30px;
  border-radius: 8px;
}
textarea{
  border: 2px inset;
  margin-top: 5px;
  width: 350px;
  height: 200px;
  line-height: 30px;
  border-radius: 8px;
}



