.all_book{
  width:200px;
  height:200px;
  background-color: #e0d4be;
  float: left;
  margin: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.all_book:hover{
  width:200px;
  height:200px;
  background-color: #e0d4be;
  border-color: #000;
  border: 1px;
  float: left;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}
