@import "color";

.comment_wrapper{
  width: 500px; 
  min-height: 0px;
  padding: 10px 0;
  margin: auto;
}
.each_comment_wrapper{
  width: 500px;
  min-height: 0px;
  background-color: $du-brown;
  padding: 5px;
  border-radius: 10px;
  color: black;
  margin: auto;
}
.comment_content{
  width: 95%;
  min-height: 0px;
  line-height: 20px;
  margin: 0px auto;

}
.comment_image{
  width: 100px;
  height: 100px;
  margin: 0px 10px;
}
.arrow{
  width: 0;
  height: 0;
  border-width: 10px 10px 10px 10px;
  border-style: solid;
  border-color: #e0d4be  transparent  transparent transparent ;
  margin-left: 30px;
}
.comment_user_date_delete_wrapper{
  width: 500px;
  min-height: 30px;
  margin: 0 auto 10px auto;
  padding: 5px;
}

.comment_bg { 
  height: 100%;
}

.form-wrapper {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .comment_wrapper{
    width: 350px;
  }
  .each_comment_wrapper{
    width: 300px; 
  }
}

@media (max-width: 321px) {
  .comment_wrapper{
    width: 320px;
  }
  .each_comment_wrapper{
    width: 300px; 
  }
}