.header{
  width:1280px;
  height:120px;
  background-color: #e0d4be;
  overflow: hidden;
  margin: auto;
}

.header_wrapper {
  width: 1260px;
  height: 80px;
  top:20px;
  left:20px;
  position: relative;
  color: #FFF;

}
.du_login{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  overflow: hidden;
  float: left;
  // -webkit-transform:rotate(20deg);
}
.dureading{
  width: 250px;
  height: 60px;
  line-height: 60px;
  float: left;
  position: relative;
  font-size: 40px;
  margin: 20px 10px 20px 10px;
  color: #242d3f;
  font-family: fantasy;
  font-style: italic;
  font-weight: bold;
}

.my_all_books, .my_shelf, .add_book{
  width: 60px;
  height: 60px;
  color: #000;
  float: left;
  text-align: center;
  padding: 7px;
  border: 3px solid #242d3f;
  border-radius: 10px;
  margin:0 20px;
}

.my_all_books:hover, .my_shelf:hover, .add_book:hover{

  background-color: #999;
}

.fb_wrapper{
  width: 250px;
  height: 80px;
  color: #000;
  float: right;
}
.fb_wrapper img:hover{
  border-radius: 10px;
  background-color: #999;
}
.fb_user{
  width:150px;
  height:80px;
  float: left;
  line-height: 80px;
}
.fb_user_link{
  float: left;
  width:150px;
  height:80px;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
  color: #00F;
}
.fb_user_link a{
  color: #242d3f;
  text-decoration: none;
}
.fb_user_link a:hover{
  font-weight: bold;
  color: #999;
}