
.add_book{
  width: 80px;
  height: 80px;
  float:left;
}
.book_title, .book_author{
  width:120px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  color: #FFF;
  margin-left: 15px;
}

.book_owner{
  width:120px;
  height: 20px;
  overflow: hidden;
  text-align: center;
  color: #FFF;
  margin: 9px 0 0 15px;
  a{
    text-decoration: none;
    color: #FFF;
  }
  a:hover{
    text-decoration: none;
    color: #999;
  }

}

.option_icons{
  -webkit-filter:invert(1);
  img{
    margin-left: 13px;
    margin-top: 3px;
  }
  img:hover{
    background-color: #aaa;
  }
}
