
.add_book{
  width: 100px;
  height: 40px;
  background-color: #e0d4be;
  color: #242d3f;
  border-radius: 5px;
  float: left;
  text-align: center;
  line-height: 40px;
  top: 150px;
  left:200px;
  position: absolute;

}