*{margin: 0; padding: 0; list-style: none}
body{
  width: 1280px;
  height: 800px;
  margin: auto;
  background-color: #FFF;
}

.welcome{
	top:0px;
  position:relative;
  width: 1280px;
  height: 800px;
  background-image: image-url("bg.jpg"); /* image-url is SCSS syntax" */
  -webkit-filter: blur(2px);
  margin: auto;
  
}
.welcome_wrapper{
  width: 1280px;
  height: 800px;
  position:relative;
  top:-800px;
  margin:auto;
}
.du_logo{
  top:100px;
  left:440px;
  position: absolute;
  width: 400px;
  height: 400px;
  border: 10px;
  border-radius: 30px;
  overflow: hidden;
}
.log_in{
  width:300px;
  height:60px;
  text-align: center;
  line-height: 60px;
  background-color: #49659F;
  left:490px;
  top:550px;
  position: absolute;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  border-radius: 10px;
}
.a{text-decoration:none;}
.a:visited { color: #FFF; }
.a:hover{
  text-decoration:none;
  color: #232d3d;
}

//slider show

.slider{
  width: 100%;
  height: 800px;
  overflow:hidden;
  }
  .pic{
    width:1280px;
    position: relative;
    top:0;
    left:0;
  }
  .pic li{
    float:left;
    line-height:0;
  }
  .pic li img{
    width:100%;
    line-height:0;
  }
  .clearFix{
    width:100%;
    height:0;
    clear:both;
  }