// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{margin: 0; padding: 0; list-style: none}
.welcome{
	top:0px;
  position:absolute;
  width: 1280px;
  height: 800px;
  background-image: image-url("bg.jpg"); /* image-url is SCSS syntax" */
  -webkit-filter: blur(2px);
  
}

.du_logo{
  top:100px;
  left:440px;
  position: absolute;
  width: 400px;
  height: 400px;
  border: 10px;
  border-radius: 20px;
  /*box-shadow:4px 4px 10px 4px #000;*/
  overflow: hidden;
	/*background-image: url("icon.jpg");*/
  /*background-position: 50% 50%*/
}
.log_in{
  width:300px;
  height:60px;
  text-align: center;
  line-height: 60px;
  background-color: #49659F;
  left:490px;
  top:550px;
  position: absolute;
  color: #fff;
  font-size: 25px;
  font-weight: 900;
  border-radius: 10px;
}
.a{text-decoration:none;}
.a:visited { color: #FFF; }
.a:hover{
  text-decoration:none;
  color: #232d3d;
}